body{
    /*
    Default text is Arial font with Verdana as a fallback option
    Black background (use hexadecimal values)
    White font (use hexadecimal values)
    Margin of 20px on the top and sides.  None on the bottom.
    */
    font-family: Arial, Verdana;
    background-color: black;
    color: white;
    margin: 20px 20px 0px 20px;
}
h1{
    /*
    42px centered font
    Padding of 15px
     */
    font-size: 42px;
    padding: 15px;
    text-align: center;
}
h2{
    /*
    30px dark gray font (#0D0D0D)
    */
    font-size: 30px;
    color: #0D0D0D;
}
p{
    /*
    24px font
    Padding of 10px on the top and left only
     */
    font-size: 24px;
    padding-top: 10px;
    padding-left: 10px;
}
img{
    /*
    All images are 250px wide  (do not set a height)
    All images are centered
    All images have a white 10px dashed border
     */
    width: 250px;
    border-style: dashed;
    border-color: white;
    border-width: 10px;
    /*from W3C*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: 50%;*/
    /*the code from w3c end*/
}
body div{
    /*
    A flexible height of at least 125px tall
    Padding of 20px on all sides
    A 3px solid white border on all sides.
     */
    min-height: 125px;
    padding: 20px;
    border-color: white;
    border-style: solid;
    border-width: 3px;
}
.introduction{
    /*
    15px border-radius (to curve the edges)
    Margin of 15px margin on the top
    Double-spaced text
     */
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2;
}
.red{
    /*
    Background color is hexadecimal value for red
    Text is aligned on the right side
    A left margin of 50px;
    A  border of 2px on the bottom and 5px on the left;
     */
    background-color: #FF0000;
    text-align: right;
    margin-left: 50px;
    /*
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 2px;
    border-left-width: 5px;
     */
    border-width: 0px 0px 2px 5px;
}
.blue {
    /*
    Background color is hex value for blue
    Text is aligned on the left side
    A right margin of 50px;
    A  border of 5px on the right and 2px on the top;
     */
    background-color: #0000FF;
    text-align: left;
    margin-right: 50px;
    border-width: 2px 5px 0px 0px;
}
p.blue, h2.blue{
    /*
    Use #C4C4C4 for the heading and paragraph text
     */
    color: #C4C4C4;
}
.yellow{
    /*
    Background color is hexadecimal value for yellow
    Text is aligned on the right side
    A left margin of 50px;
    A border of 2px on the bottom and 5px on the left;
     */
    background-color: #FFFF00;
    text-align: right;
    margin-left: 50px;
    border-width: 0px 0px 2px 5px;
}
p.yellow{
    /*
    Use #707070 for the paragraph tex
     */
    color: #707070;
}
.green{
    /*
    The background color is a hexadecimal value for green  (You must use #00EB00, #008500, or #00D800)
    Text is aligned on the left side
    A right margin of 50px;
    A  border of 5px on the right and 2px on the top;
     */
    background-color: #00EB00;
    text-align: left;
    margin-right: 50px;
    border-width: 2px 5px 0px 0px;
}

footer{
    /*
    a gradient background that starts at #000000, goes to #0000ff at 25,  #0066ff at 70, and ends back at #000000.
    A 5px solid white border
     */
    background-image: linear-gradient(to right,#000000,#0000ff,#0066ff,#000000 );
    border-width: 5px;
    border-style: solid;
}
footer p{
    /*
    20px text that is aligned to the right.
    Padding of 15px on the top, right, and bottom only. (No padding on the left.)
     */
    font-size: 20px;
    text-align: right;
    padding: 15px 15px 15px 0;
}